// Bullet List
// ===

.c-bullet-list,
%c-bullet-list {
    list-style-type: disc;
}


// Bullet List Item
// ---
//
// 1. Fix for iOS to line up with other body text

.c-bullet-list__item,
%c-bullet-list__item {
    position: relative;

    margin-left: $unit*2 + 2px; // 1

    & + & {
        margin-top: $sub-unit;
    }
}
