// Number List
// ===

.c-number-list,
%c-number-list {
    list-style-type: decimal;
}


// Number List Item
// ---
//
// 1. Fix for iOS to line up with other body text

.c-number-list__item,
%c-number-list__item {
    margin-left: $unit*2.5 + 2px; // 1

    & + & {
        margin-top: $unit;
    }
}
