// List Item
// ===

.c-list-item {
    display: flex;
    align-items: center;

    color: currentColor;

    &:not(.c--default-fonts) {
        font-weight: 300;
        font-size: $large-font-size;
    }

    &:active,
    &:focus {
        color: currentColor;
    }

    &:not(.c--small) {
        min-height: $tap-size;
    }
}


// Small Theme
// ---

.c-list-item.c--small {
    .c-list-item__content {
        padding-top: 0;
        padding-bottom: 0;
    }
}


// sass-lint:disable no-qualifying-elements

button.c-list-item {
    width: 100%;
    padding: 0;

    text-align: left;
}


// Affix
// ---
//
// Applies the both the prefix and the suffix, as they share properties
// 1. CF-339: Radio buttons and text are not aligned properly

.c-list-item__affix {
    flex: 0 0 auto;
    align-self: center; // 1

    line-height: 0;
}


// Content
// ---

.c-list-item__content {
    flex: 1 1 auto;
    padding: $unit;
}
