// Featured Image
// ===
//
// 1. Allow the pseudo elements to be absolutely positioned.
// 2. Remove browser-added spacing for consistently alignment of pseudos.
// 3. Giving a minimum height acts as a preloader, giving the appearance of
//    faster download speeds.

.c-featured-image {
    position: relative; // 1

    display: block;
    min-height: 100px; // 3

    background: $neutral-20;

    &::before,
    &::after {
        content: '';

        position: absolute;
        right: 0;
        left: 0;
        z-index: $orchestra-layer;

        width: 100%;
        height: 15px;

        background-image: url('../img/edge-thick.png');
        background-size: cover;
    }

    &::before {
        top: -1px;

        transform: rotate(180deg);
    }

    &::after {
        bottom: -1px;
    }

    &.c--remove-top::before {
        display: none;
    }

    &.c--remove-bottom::after {
        display: none;
    }

    img {
        display: block; // 2
        width: 100%;
    }
}
