// Reveal
// ===

.c-reveal {
    width: 100%;

    &.c--centered .c-reveal__trigger {
        width: 100%;

        text-align: center;
    }
}


// Original Paragraphs Container
// ---
//
// 1. The content is revealed by the UI script

.c-reveal__content {
    opacity: 0; // 1

    transition: opacity 0.5s ease;

    &.c--is-hidden {
        display: none;
    }
}


// Trigger
// ---
//
// 1. For when trigger shouldn't be link colour

.c-reveal__trigger {
    padding-top: $unit;

    color: $link-color;
    font-weight: bold;
    font-size: $small-font-size;

    &.c--is-hidden {
        display: none;
    }

    &.c--grey {
        color: $neutral-40; // 1
    }

    .c-field-row + .c-field-row & {
        padding-top: 0;
    }
}
