// Tabs
// ====
//
// Tabs component with tabs controls and tabs body.
// Horizontal controls tabs items placed in one line.


// Configurable Variables
// ---

$tabs__padding: $unit;
$tabs__body-space: $unit*1.5;
$tabs__active-background: $white;


// Tabs: Controls
// ---
//
// 1. Add overflow scroll to avoid squished tabs
// 2. Needed for correctly calculating the position to scroll to when the user has selected a tab

.c-tabs__controls {
    position: relative; // 2

    display: flex;

    &.c--row-reverse {
        flex-direction: row-reverse;
    }
}

.c-tabs__title {
    line-height: 1;
    text-transform: capitalize;
}

.c-tabs:not(.c--no-break) .c-tabs__title {
    word-spacing: 999px;
    word-break: keep-all;
}


// Tabs: Controls item
// ---
//
// 1. Same width

.c-tabs__controls-item {
    display: flex;
    flex: 1 1 auto;
    flex-grow: 1; // 1
    flex-basis: 0; // 1
    min-height: $tap-size;
    margin-left: -1px;
    border: $border;

    background: $neutral-30;

    color: $black;
    text-align: center;

    &.c--current {
        border-bottom-color: transparent;

        background: $tabs__active-background;

        font-weight: bold;
    }

    &:last-child {
        margin-right: 0;
        border-right-color: transparent;
    }

    &:first-child {
        border-left-color: transparent;
    }
}


// Tabs: Tabs button
// ---

.c-tabs__button {
    width: 100%;
    padding: $tabs__padding;
    border: 0;

    background: transparent;

    color: currentColor;
    font-style: normal;

    transition: 0.1s background ease-out;

    &:active {
        background: $neutral-30;
    }
}


// Tabs: Tabs body
// ---

.c-tabs__body {
    padding: $tabs__body-space*2 $tabs__body-space;
}


// Tabs: Tabs content
// ---

.c-tabs__content {
    display: none;

    &.c--current {
        display: block;
    }
}
