// Pagination
// ===


// Pagination Root
// ---

.c-pagination {
    display: flex;
    overflow: hidden;
    height: $tap-size;

    background: $neutral-20;

    font-size: $small-font-size;
}


// Pagination Items
// ---

.c-pagination__prev,
.c-pagination__next,
.c-pagination__all,
.c-pagination__current {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-pagination__prev,
.c-pagination__next,
.c-pagination__all {
    flex: initial;
    width: auto; // 1

    a {
        display: block;
    }
}

.c-pagination__all {
    a {
        padding: $unit*1.5;

        font-weight: bold;
    }
}

.c-pagination__current {
    flex: 1 1 0;
}
