// Size Chart Image
// ===
//
// 1. This is to hide the 'close' text embedded in the image.
// 2. Hide the size chart content when it's outside of modal

.c-size-chart-image {
    position: relative;
    display: inline-block;

    &::before {
        // 1
        content: '';

        position: absolute;
        top: 0;
        right: 0;

        display: block;
        width: 15%;
        height: 10%;

        background: #fff;
    }
}

.js-size-chart-hidden-content {
    // 2
    display: none;

    .c-sheet & {
        display: block;
    }
}
