// Error Text
// ===
//
// For inline error messages, not error message that appear in c-alert

.c-error-text {
    display: flex;
    align-items: center;
    margin-top: $unit*2;

    color: $error-color;
    font-weight: bold;
    font-size: $font-size;

    .c-icon {
        margin: (-$unit) $sub-unit (-$unit) (-$unit);
    }
}
