// Ledger
// ===
//
// 1. Apply padding to only top and bottom so that entries can have
//    full-width borders w/o using negative margins (see [a]).
// 2. Override default margin styles from dl elements
//
// <div class="c-ledger">
//     <div class="c-ledger__entry">
//         <div class="c-ledger__description">Subtotal:</div>
//         <div class="c-ledger__number">$1000</div>
//     </div>
//
//     <div class="c-ledger__entry c--total">
//         <div class="c-ledger__description">Total:</div>
//         <div class="c-ledger__number">$1000</div>
//     </div>
// </div>

.c-ledger {
    &.c--bordered {
        padding-top: $sub-unit; // 1
        padding-bottom: $sub-unit; // 1
        border: 1px solid $black;

        .c-ledger__entry {
            padding-right: $unit;
            padding-left: $unit;
        }
    }

    &.c--grey-border {
        border-color: $border-color;

        .c-ledger__entry {
            border-color: $border-color;
        }
    }
}


// Ledger Entry
// ---

.c-ledger__entry {
    display: flex;
    justify-content: space-between;
    margin: 0; // 2

    &.c--bordered {
        // [a]
        margin-top: $sub-unit;
        padding-top: $sub-unit;
        border-top: 1px solid $black;
    }

    &.c--total {
        font-weight: bold;
        font-size: $large-font-size;
    }

    &.c--emphasize-number .c-ledger__number {
        font-weight: bold;
    }
}


// Ledger Number
// ---

.c-ledger__number {
    text-align: right;
}
