// Change Email Page
// ===
//
// 1. CF-373: Align the checkmark with the content, if this starts cropping up in a lot of places we can probably just put it in the c-icon component as a modifier

.t-account-change-email__checkmark {
    position: relative;
    top: -2px;

    margin-left: -11px; // 1
}
