// Checkout Review and Payment
// ===
//
// 1. Promo code style

.t-checkout-review-and-payment {

    .relativeInfoContainerGroup + .relativeInfoContainerGroup {
        margin-top: $unit*2;
    }

    .c-input iframe {
        @extend %default-input;
        display: block;
        width: 100% !important;
        height: 44px !important;
    }

    .c-cart-item__name {
        padding-right: 0;
    }

    // CVV field
    // ---
    //
    // Note: place code here to override style below
    //
    // 1. Reduce by 1 px so fit border inside iframe, use important to override
    // 2. No border in iframe, use border in input (added in JS)

    .t-checkout-review-and-payment__cvv {
        iframe {
            margin-left: -1px !important; // 1
            border: 0; // 2
        }
    }
}

.t-checkout-review-and-payment__shipping-options {
    [type='radio'] {
        top: 0;

        margin-right: 0;
    }

    .c-check-radio .c-icon {
        transform: translate3d(-49%, -50%, 0);
    }
}

.t-checkout-review-and-payment__order-items {

    .t-checkout-review-and-payment__order-item {
        &:last-child {
            .c-divider {
                display: none;
            }
        }
    }

    .c-button.c--plain {
        min-width: $small-tap-size;
        min-height: $small-tap-size;
    }
}

// sass-lint:disable-block class-name-format
.t-checkout-review-and-payment__birthday-reminder {

    // sass-lint:disable class-name-format

    .orderReviewRelativesBirthDaysContent {
        margin-bottom: $sub-unit*3;

        font-size: $small-font-size;
    }

    .gwt_RelativeGroup_Header {
        margin-bottom: $sub-unit*2;

        font-weight: bold;
    }
}

.t-checkout-review-and-payment__promo-code {

    .edit-promo {
        display: flex;
        margin: $unit 0;
    }

    .label-promo-code {
        display: block;
        flex: 1;

        font-weight: bold;
    }

    .edit-promo-link {
        @extend %c-button;

        min-height: auto;
        padding: 0;
    }
}


// Page Loading Overlay
// ---
//
// TODO: Refactor this and `.t-bag__page-loading` so we don't have dupe code

.t-checkout-review-and-payment__page-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $orchestra-layer;

    background: rgba(255, 255, 255, 0.9);

    .c-loading {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        z-index: $frontrow-layer;

        display: block;
        margin: 0;

        text-align: center;
    }
}
