// Checkout Steps
// ===

.c-checkout-steps {
    display: flex;
    justify-content: space-between;
}


// Item
// ---
//
// 1. Position progress indicator lines
// 2. Last step doesn't need space for progess indicator line, make sure it collapses
// 3. When half-step exists, display it

.c-checkout-steps__item {
    position: relative; // 1

    flex: 1 1 auto;

    &:not(:last-child) {
        &::after {
            content: ''; // 1

            position: absolute; // 1
            top: 50%;
            right: 0;
            left: 0;

            height: 1px;

            background: $border-color;
        }
    }

    &:last-child {
        flex-grow: 0; // 2
    }

    &.c--half-completed {
        .c-checkout-steps__half-step {
            display: block; // 3
        }
    }

    &.c--completed {
        &::after {
            background: $dark-brand-color;
        }
    }
}


// Circle
// ---
//
// 1. Make sure to take into account the width of the circled number when placing the
//    half-step line, so that it looks like it is 50% of the way across.
// 2. Allow placement of progress indicator lines
// 3. Styles for current and completed steps
// 4. Styling for dot that denotes a "half-completed" step
// 5. (Visually) vertically center "half-completed" dot
// 6. Veritcally center text in circle

.c-checkout-steps__circle {
    position: relative; // 2
    z-index: $orchestra-layer;

    width: $unit*3;
    height: $unit*3;
    border: $border;

    border-radius: 50%;
    background-color: $white;

    color: $black;
    line-height: $unit*3; // 6
    text-align: center;



    .c-checkout-steps__item.c--active &,
    .c-checkout-steps__item.c--current-step &,
    .c-checkout-steps__item.c--half-completed &,
    .c-checkout-steps__item.c--completed & { // 3
        border-color: $dark-brand-color;

        background-color: $dark-brand-color;

        color: $white;
    }
}

.c-checkout-steps__half-step {
    position: absolute; // 2
    top: 50%;
    left: 12px; // 1
    z-index: $stage-layer;

    display: none;
    width: 50%;
    height: 1px;

    background: $dark-brand-color;

    &::before { // 4
        content: '';

        position: absolute; // 2
        top: -($sub-unit - 1); // 5
        right: 0;

        width: $unit;
        height: $unit;

        border-radius: 50%;
        background-color: $dark-brand-color;
    }
}
