// Promotional Block
// ===

.c-promo-block {
    position: relative;

    overflow: hidden;
}

.c-promo-block__button {
    color: $black;
    font-weight: 300;

    transform: translate(-50%, -50%);

    .c-icon {
        margin-right: -$unit;
        margin-left: -$unit;
    }
}
