// Product List
// ===
//
// 1. Hide tiles until they are in the viewport, then they animate in. (See
//    c-tile component and the plp ui.)
// 2. By design - apply margins to fit this properly in the sheet
// 3. These are required to get the ellipsis to show up after two lines. Do not
//    change to display: flex;

.t-product-list {
    .ios .c-tile {
        opacity: 0; // 1
    }

    .c-tile .c-heading a {
        display: -webkit-box; // 3
        overflow: hidden; // 3
        padding-top: $sub-unit;

        text-overflow: ellipsis; // 3

        -webkit-line-clamp: 3; // 3
        -webkit-box-orient: vertical; // 3
    }

    .c-range {
        margin-right: $unit;
        margin-bottom: $unit; // 2
        margin-left: $unit;
    }

    [class*='sli-range-slider-track'] {
        @extend %c-range__track;
    }

    [class*='sli-range-slider-selection'] {
        @extend %c-range__track-active;
    }

    [class*='sli-range-slider-thumb'] {
        @extend %c-range__slider;
    }

    [class*='sli-range-slider-thumb-label'] {
        @extend %c-range__slider-label;
    }

    [id='slider-raprislider-label'],
    [class*='sli-range-slider-tick'],
    [class*='sli-range-slider-selection'] span {
        display: none;
    }

    [id='sli_autocomplete'] {
        display: block !important;
    }

    .c-tile__image img {
        width: auto;
        max-width: none;
        height: 100%;
        margin-left: -3%;
    }
}


// Product List Elements
// ---

.t-product-list__loading {
    position: absolute;
    left: 50%;
    z-index: $orchestra-layer;

    margin-top: $unit*6;

    transform: translate(-50%, -50%);
}

.t-product-list__filter-button,
.t-product-list__filter-select {
    max-width: 49%;

    .c-button__icon {
        position: absolute;
        top: $sub-unit;
        right: 0;
        z-index: 10;

        background: linear-gradient(to right, rgba($white, 0), $white, $white);

        pointer-events: none;
    }
}
