// Checkout Sign-In
// ===
//
// 1. Stop "Remember Me" tooltip icon from slipping to next line on smaller devices

.t-checkout-sign-in {
    .t-checkout-header__top {
        margin-bottom: $unit*2;
        border-bottom: $border;
    }

    .t-checkout-header__bottom {
        display: none;
    }
}

.t-checkout-sign-in__tooltip-fix {
    white-space: nowrap; // 1
}
