// Autocomplete
// ===
//
// 1. Prevent margins from inside the autocomplete from bleeding outside itself
// 2. Add permanent spacer to fill space under software keyboard

.c-autocomplete {
    overflow: hidden; // 1

    background: $white;

    .ios & {
        padding-bottom: 300px; // 2
    }
}


// Autocomplete: Wrapper
// ---
//
// 1.   To override inline styles.

.c-autocomplete__wrapper {
    width: auto !important; // 1
}
