// Stepper
// ===

.c-stepper {
    display: flex;
    align-items: center;
    min-width: $unit*15;

    &.c--small {
        min-width: $unit*10;
    }
}


// Action
// ---
//
// 1. Increase width of icon
// 2. Extend outside of button boundaries

.c-stepper__action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 $unit*3;
    width: $unit*3;
    height: $unit*3;
    padding: 0;
    border: $border;

    border-radius: 100%;
    background: $white;

    &::after {
        // 1
        content: '';

        position: absolute;
        top: -11px; // 2
        right: -11px; // 2
        bottom: -11px; // 2
        left: -11px; // 2
    }

    &.c--disabled {
        pointer-events: none;

        .c-icon {
            fill: $neutral-40;
        }
    }

    .c-icon {
        width: $tap-size; // 1
        height: $tap-size; // 1
        margin: -$unit*1.5; // 2

        fill: $black;
    }
}


// Count
// ---

.c-stepper__count {
    flex: 1 1 auto;
    min-width: $tap-size/2;

    font-weight: 300;
    font-size: $font-size;
    text-align: center;
}
