// Select
// ===
//
// 1. Absolutely position select element and triangle relative to the parent .c-select
// 2. Vertical center the triangle
// 3. Align the border just a bit beneath the select text

.c-select {
    position: relative;

    display: flex;
    overflow: hidden;
    align-items: center;
    box-sizing: border-box;
    max-width: 100%;
    height: $tap-size;
    padding: 0;
    border: $border;

    background: $white;

    user-select: none;

    -webkit-user-select: none;

    &::before {
        content: '';

        position: absolute;
        top: 0;
        right: $unit*4;
        bottom: 0;
        z-index: 1;

        display: block;
        width: $unit*2;

        background: linear-gradient(to right, rgba($white, 0), $white);
    }

    select {
        width: 100%;
        height: 100%;
        padding: 0;
        padding-right: $unit*4;
        padding-left: $horizontal-padding;
        border: 0;

        background: none;

        text-transform: capitalize;

        -webkit-appearance: none;

        &:focus,
        &:active {
            border: 0 !important;

            box-shadow: none;
        }
    }

    .c-icon {
        position: absolute;
        top: 1px;
        right: 0;
        z-index: $orchestra-layer;

        pointer-events: none;
    }


    // Inline
    // ---

    &.c--inline {
        display: inline-flex;
    }


    // Disabled
    // ---

    &.c--is-disabled {
        color: $disabled-input-color;

        pointer-events: none;

        &::before {
            display: none;
        }
    }


    // Full Width
    // ---

    &.c--full-width {
        width: 100%;
    }
}


// Platform Fixes
// ---
//
// Fix for Firefox
// Attribution: http://filamentgroup.github.io/select-css/
//
// Hide the native select arrow by clipping it with overflow: hidden
//
// sass-lint:disable no-mergeable-selectors

@-moz-document url-prefix() {
    .c-select {
        overflow: hidden;

        select {
            width: calc(100% + 3em);

            &:-moz-focusring {
                color: transparent;
                text-shadow: 0 0 0 #000;
            }
        }
    }
}
