// Welcome Modal
// ===
//
// 1. Prevent the modal from disappearing off screen on input focus
//    because of Pikabu
// 2. CF-203: Desktop's background image is loaded through their CSS which we are not including.
//    Bringing in a local saved image unless we can dynamically grab their image.
// 3. CF-222: Show the newest error and not keeping stack errors infinitely

.c-welcome-modal {
    background-image: url('../img/welcome-bg.jpg'); // 2
    background-repeat: no-repeat; // 2
    background-size: cover; // 2

    &.c--boxed {
        top: $header__tap-size !important; // 1
    }



    // sass-lint:disable class-name-format
    .gwt-csb-error-panel .gwt-HTML {
        // sass-lint:enable class-name-format
        display: none; // 3

        &:last-child {
            display: block; // 3
        }
    }
}
