// Breadcrumbs
// ===


// Breadcrumbs Root
// ---
//
// 1. For absolutely positioned pseudos.
// 2. Ensure the breadcrumbs stay on one line.

.c-breadcrumbs {
    position: relative; // 1

    white-space: nowrap; // 2
    text-align: center;

    &:before,
    &:after {
        content: '';

        position: absolute;
        top: 0;
        bottom: 0;

        width: $unit*1.5; // 12px

        background: linear-gradient(to right, rgba($white, 0), $white);
    }

    &:before {
        left: 0;

        transform: rotate(180deg);
    }

    &:after {
        right: 0;
    }
}


// Breadcrumbs Scroller
// ---

.c-breadcrumbs__scroller {
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0 $horizontal-padding;
}


// Breadcrumbs Item
// ---
//
// 1. Remove icon

.c-breadcrumbs__item {
    display: inline-flex;
    height: $tap-size;

    color: $label-color;
    font-size: $x-small-font-size;
    line-height: $tap-size;
    text-align: center;
    text-transform: capitalize;

    &:last-of-type {
        .c-icon {
            display: none; // 1

            visibility: hidden; // 1
        }
    }

    * {
        color: inherit;
    }
}
