// Logo
// ===
//
// 1. Position relative so child svg can be absolutely positioned
// 2. Logo aspect ratio of should be 5:1
// 3. This pseudo element creates the physical space for that the logo component
//    will actually occupy, so that the svg can be absolutely positioned inside
// 4. Allow this to be centered aligned with `text-align: center`

.c-logo {
    position: relative; // 1

    display: inline-block; // 4
    overflow: hidden;
    width: 150px;

    color: $neutral-80;

    &.c--full-width {
        width: 100%;
    }

    &.c--small {
        width: 130px;
    }

    // 3
    &::before {
        content: '';

        display: block;
        width: 100%;
        padding-top: 20%; // 2
    }
}


// SVG
// ---
//
// This is the SVG asset itself
//
// 1. Absolutely positioned relative to the parent `c-logo` container

.c-logo__svg {
    position: absolute; // 1
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;
}
