// Project-Wide Variables
// ===
//
// Edit these as needed. Some guidelines:
//
// - Names should be lowercase and dash-separated;
// - Qualifiers should be added to the beginning of related variables: use
//   `$small-font-size`, not `$font-size-small`;
// - Numeric scales should use increments of 10; these numbers are arbitrary and
//   should not map to actual values. If really necessary, additional values can
//   be added in between, e.g. $neutral-15 between 10 and 20.


// Layout
// ---

// Basic unit for spacing and alignment; 6 to 12px recommended. Apply in whole
// or half multiples.
$unit: 8px;
$sub-unit: 4px;

$tap-size: 44px;
$small-tap-size: 32px;


// Typography
// ---

$font-family: 'Fira Sans', 'Roboto', 'Helvetica Neue', sans-serif;
$serif-font-family: 'Adobe Caslon Pro', 'Baskerville', serif;
$header-font-family: $serif-font-family;

$xx-small-font-size: 10px;
$x-small-font-size: 12px;
$small-font-size: 13px;
$font-size: 15px;
$large-font-size: 18px;
$x-large-font-size: 22px;
$xx-large-font-size: 32px;

$line-height: 22px;
$tight-line-height: 1.25;


// Colour palette
// ---

// Neutrals
$neutral-10: #fff;
$neutral-20: #f6f6f6;
$neutral-30: #eeedeb;
$neutral-40: #dcdbd8;
$neutral-50: #b5afa9;
$neutral-60: #5f574f;
$neutral-70: #3b3838;
$neutral-80: #19191f;

// Base colours
$white: $neutral-10;
$black: $neutral-80;

// Brand colours
$brand-color: #88ab00; // green
$light-brand-color: #d4ef6a;
$dark-brand-color: #588423;

// Accent colours
$accent-color: #c23838; // red
$dark-accent-color: #922d2d;

// Success colours
$success-color: $brand-color; // green, same as `$brand-color`
$light-success-color: $light-brand-color;
$dark-success-color: $dark-brand-color;

// Error colours
$error-color: #f00; // red, as per CF-209
$dark-error-color: #f00;

$sale-color: #af003e;


// Gradients
// ---
//
// Note: Spline provides a handy function for reversing a gradient,
// e.g. `reverse-gradient($neutral-gradient)`;

$neutral-gradient: linear-gradient($neutral-40, $neutral-30);
$brand-gradient: linear-gradient($brand-color, mix($brand-color, $dark-brand-color));
$reverse-brand-gradient: linear-gradient(mix($brand-color, $dark-brand-color), $brand-color);


// Appearance
// ---

$font-color: $neutral-80;
$label-color: darken($neutral-50, 10%);
$link-color: $brand-color;
$active-link-color: $brand-color;

$focus-color: $light-brand-color;

$border-color: $neutral-40;
$dark-border-color: $neutral-80;
$light-border-color: $neutral-30;

$input-background-color: $neutral-10;

$disabled-input-color: $neutral-40;
$disabled-input-border-color: $neutral-30;
$disabled-input-background-color: $neutral-20;

$vertical-padding: $unit*1.5; // 12px, use for top/bottom values
$horizontal-padding: $unit*1.5; // 12px, use for right/left values


// Layer (z-index)
// ---
//
// Organizes z-index usage by name. Values can be incremented/decremented
// slightly as necessary. eg. $stage-layer + 1;

$backdrop-layer: 1;     // background
$stage-layer: 10;       // icon or other ui element
$orchestra-layer: 100;  // modal shade or similar
$frontrow-layer: 1000;  // modal dialog or similar


// Shorthand
// ---
//
// Quick ways to write properties that you re-use often.

$border: 1px solid $border-color;
$shadow: 0 1px 5px rgba($black, 0.4);
$x-header__height: 56px;
$border-light: 1px solid $light-border-color;
