// sass-lint:disable class-name-format

@keyframes welcomeModal {
    from {
        opacity: .99;
    }

    to {
        opacity: 1;
    }
}

#gwt_welcome_window {
    animation-name: welcomeModal;
    animation-duration: .001s;
}

.gwt-PopupPanel {
    animation-name: welcomeModal;
    animation-duration: .001s;
}
