// Padding Utilities
// ===


// Padding Sides
// ---

.u-padding {
    padding-right: $unit*1.5 !important;
    padding-left: $unit*1.5 !important;
}

.u-padding.u--tight {
    padding-right: $unit !important;
    padding-left: $unit !important;
}

.u-padding.u--none {
    padding-right: 0 !important;
    padding-left: 0 !important;
}


// Padding Top
// ---

.u-padding-top {
    padding-top: $unit*2 !important;
}

.u-padding-top.u--tight {
    padding-top: $unit !important;
}

.u-padding-top.u--loose {
    padding-top: $unit*4 !important;
}

.u-padding-top.u--none {
    padding-top: 0 !important;
}


// Padding Right
// ---

.u-padding-right {
    padding-right: $unit*1.5 !important;
}

.u-padding-right.u--loose {
    padding-right: $unit*4 !important;
}

.u-padding-right.u--tight {
    padding-right: $unit !important;
}


// Padding Bottom
// ---

.u-padding-bottom {
    padding-bottom: $unit*2 !important;
}

.u-padding-bottom.u--tight {
    padding-bottom: $unit !important;
}

.u-padding-bottom.u--loose {
    padding-bottom: $unit*4 !important;
}

.u-padding-bottom.u--none {
    padding-bottom: 0 !important;
}

// Padding Left
// ---

.u-padding-left {
    padding-left: $unit*1.5 !important;
}

.u-padding-left.u--tight {
    padding-left: $unit !important;
}

.u-padding-left.u--tiny {
    padding-left: $sub-unit !important;
}

.u-padding-left.u--none {
    padding-left: 0 !important;
}


// Vertical Paddings
// ---
//
// Suffixes:
// 0:  none
// tn: tiny
// sm: small
// md: medium
// lg: large
// hg: huge

.u-padding-top-0 {
    padding-top: 0 !important;
}

.u-padding-top-tn {
    padding-top: $sub-unit/2 !important;
}

.u-padding-top-sm {
    padding-top: $sub-unit !important;
}

.u-padding-top-md {
    padding-top: $unit !important;
}

.u-padding-top-lg {
    padding-top: $unit*2 !important;
}

.u-padding-top-xlg {
    padding-top: $unit*3 !important;
}

.u-padding-bottom-0 {
    padding-bottom: 0 !important;
}

.u-padding-bottom-tn {
    padding-bottom: $sub-unit/2 !important;
}

.u-padding-bottom-sm {
    padding-bottom: $sub-unit !important;
}

.u-padding-bottom-md {
    padding-bottom: $unit !important;
}

.u-padding-bottom-lg {
    padding-bottom: $unit*2 !important;
}

.u-padding-bottom-xlg {
    padding-bottom: $unit*3 !important;
}


// Padding Sides
// ---
//
// Suffixes:
// 0:  none
// tn: tiny
// sm: small
// md: medium
// lg: large
// hg: huge

.u-padding-sides-tn {
    padding-right: $sub-unit/2 !important;
    padding-left: $sub-unit/2 !important;
}

.u-padding-sides-sm {
    padding-right: $sub-unit !important;
    padding-left: $sub-unit !important;
}

.u-padding-sides-md {
    padding-right: $unit !important;
    padding-left: $unit !important;
}

.u-padding-sides-lg {
    padding-right: $unit*2 !important;
    padding-left: $unit*2 !important;
}

.u-padding-sides-xlg {
    padding-right: $unit*3 !important;
    padding-left: $unit*3 !important;
}

.u-padding-sides-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}


// Padding: Start
// ---
//
// Suffixes:
// 0:  none
// tn: tiny
// sm: small
// md: medium
// lg: large
// hg: huge

.u-padding-start-tn {
    padding-left: $sub-unit/2 !important;
}

.u-padding-start-sm {
    padding-left: $sub-unit !important;
}

.u-padding-start-md {
    padding-left: $unit !important;
}

.u-padding-start-lg {
    padding-left: $unit*2 !important;
}

.u-padding-start-xlg {
    padding-left: $unit*3 !important;
}

.u-padding-start-0 {
    padding-left: 0 !important;
}


// Padding: End
// ---
//
// Suffixes:
// 0:  none
// tn: tiny
// sm: small
// md: medium
// lg: large
// hg: huge

.u-padding-end-tn {
    padding-right: $sub-unit/2 !important;
}

.u-padding-end-sm {
    padding-right: $sub-unit !important;
}

.u-padding-end-md {
    padding-right: $unit !important;
}

.u-padding-end-lg {
    padding-right: $unit*2 !important;
}

.u-padding-end-xlg {
    padding-right: $unit*3 !important;
}

.u-padding-end-0 {
    padding-right: 0 !important;
}


// Padding All
// ---

.u-padding-all {
    padding: $unit*2 !important;
}

.u-padding-all.u--tight {
    padding: $unit !important;
}

.u-padding-all.u--xlarge {
    padding: $unit*4 !important;
}


// Padding None
// ---

.u-padding-none {
    padding: 0 !important;
}
