// Sign-In Template
// ===
//
// 1. CF-585: Fix flash of unstyled content from desktop modal

.t-sign-in {
    [class*='note'] {
        &:empty {
            display: none;
        }

        br {
            content: ' ';
        }

        br:after {
            content: ' ';
        }
    }

    .nodisplay {
        display: none; // 1
    }
}


// Forgot Password Link
// ---
//
// 1. Override base [disabled] styles that has !important applied

.t-sign-in__forgot-password-link[disabled] {
    background: none !important; // 1
}
