// Global Navigation
// ===
//
// 1. Override plugin default.
// 2. Match height to x-header.

.c-nav {
    * {
        text-transform: capitalize;

        &:focus {
            box-shadow: none;
            outline: 0;
        }
    }

    .pikabu__content {
        position: relative;
    }

    .navitron {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: none;
    }

    .navitron__pane {
        background: none;
        box-shadow: none !important; // 1
    }

    .navitron__header {
        min-height: $x-header__height; // 2
        border-bottom: 1px dashed $dark-border-color;
    }

    li  {
        padding-left: $sub-unit;
    }
}

.c-nav__back-icon {
    transform: translate($sub-unit, 0) scale(1.2);
}

.c-nav__back-text {
    transform: translate(-($sub-unit), 1px);
}
