// Tag
// ===

.c-tag {
    display: inline-block;
    padding: $sub-unit;

    color: $black;
    line-height: 1;
    text-transform: uppercase;

    &:not(.c--small) {
        font-weight: 300;
        font-size: $font-size;
    }

    &.c--small {
        font-weight: normal;
        font-size: $small-font-size;
    }

    &.c--grey {
        background-color: $neutral-40;
    }

    &.c--light {
        background-color: $white;
    }

    &.c--dark {
        background-color: $black;

        color: $white;
    }
}
