// Scroller
// ===
//
// 1. Stop the page from scrolling horizontally forever if something goes wrong
// 2. Dynamically fill space if table doesn't have enough content to scroll

.c-scroller {
    position: relative;

    overflow: hidden;
    flex: 1 1 auto; // 2
    max-width: 100%; // 1

    &.c--fade-before,
    &.c--fade-after {
        &::before,
        &::after {
            content: '';

            position: absolute;
            top: 0;
            bottom: 0;
            z-index: $backdrop-layer;

            display: block;
            width: $unit*1.5; // 12px
            height: 100%;
        }
    }

    &.c--fade-before {
        &::before {
            left: 0;

            background: linear-gradient(to left, rgba($white, 0), $white);
        }
    }

    &.c--fade-after {
        &::after {
            right: 0;

            background: linear-gradient(to right, rgba($white, 0), $white);
        }
    }
}


// Scroller Content
// ---
//
// 1. Stop vertical scroll bar that appears by default when scrolling

.c-scroller__content {
    overflow-x: scroll;
    overflow-y: hidden; // 1

    -webkit-overflow-scrolling: touch;
}

.c-scroller__content::-webkit-scrollbar {
    display: none !important;
}
