// Product List
// ===

.t-category-list {

    .c-tile {
        opacity: 1 !important;
    }

    .c-error-text {
        display: none;
    }
}

.t-category-list__main-button {
    .c-button__icon {
        margin-right: -($unit*2);
    }
}


.t-category-list__seo-copy {
    margin-top: $unit*2;
    padding: $unit*2;
    border-top: $border;

    .c-reveal__trigger {
        text-align: start;
    }
}
