// Check Radio
// ===


// Check Radio root
// ---
//

.c-check-radio {
    position: relative;

    display: inline-block;

    .c-icon {
        position: absolute;
        top: 12px;
        left: 12px;

        display: none;

        transform: translate3d(-50%, -50%, 0);
    }

    [type='radio']:checked,
    [type='checkbox']:checked {
        ~ .c-icon {
            display: block;

            pointer-events: none;
        }
    }

    &.c--grey .c-input {
        border-color: $neutral-40;
    }

    &.c--squared input {
        border-radius: 0;
    }

    &.c--rounded input {
        border-radius: 50%;
    }

    &.c--no-space input {
        margin-right: 0;
    }

}
