// Search
// ===

.c-search {
    display: flex;
    align-items: center;
    padding-right: $sub-unit;
}


// Text Input
// ---

.c-search__text-input {
    flex: 1 1 auto;
    padding: $unit $unit * 2;

    &,
    &:active,
    &:focus {
        border: 1px solid transparent;

        box-shadow: none !important;
    }
}


// Delete
// ---

.c-search__delete {
    flex: 0 0 auto;
    margin: $unit 0;
}
