// Badge
// ===
//
// The badge is a colored dot that is used to indicate that something has
// changed. This component is purely visual, and cannot take in any content
// other than accessible text.

.c-badge {
    display: inline-block;
    width: 9px;
    height: 9px;

    background-image: url('../img/notification.png');
    background-size: cover;
}
